<div id="main">
  <h1>Student Name: <%= @student.name %></h1>
  <h4>Instructors:</h4>
  <ul>
      <% @student.instructors.uniq.each do |i| %>
      <li>
        <a href="/instructors/<%= i.slug %>"><%= i.name %></a>
      </li>
      <% end %>
  </ul>
  <h4>Courses:</h4>
  <ul>
      <% @student.courses.each do |c| %>
      <li>
        <a href="/courses/<%= c.slug %>"><%= c.title %></a>
      </li>
      <% end %>
  </ul>

  <br />
  <% if current_user.id == 9 %>
    <a class="pure-button" href="/students/<%= @student.slug %>/edit">Edit Student</a>
    <a class="pure-button" href="/students/new">New Student</a>
    <a class="pure-button" href="/students/<%= @student.slug %>/delete">Delete Student</a>
  <% end %>
</div>
