  <div id="main">

    <form action="/courses" method="POST">
      <h1>Register for Courses</h1>
        <% if current_user.id != 9 %>
          <h4><%= current_user.name %>, you can register for courses or change your registration by selecting the checkboxes below.</h4>
          <% else %>
          <h4><%= current_user.name %>, you can't register for courses here because you are the admin.</h4>
        <% end %>
      <div id="table-wrapper">
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Instructor</th>
              <th>Start Date</th>
              <th>Semester</th>
              <th>Weeks</th>
              <th>Year</th>
              <th>Registered</th>
            </tr>
          </thead>
          <tbody>
            <% Course.all.each do |c|  %>
              <tr>
                <td>
                  <a href="/courses/<%= c.slug %>"><%= c.title %></a>
                </td>
                <td>
                  <% if !c.instructor_id? %>
                    <%= "Instructor Unassigned" %>
                  <% else %>
                    <a href="/instructors/<%= c.inst_slug %>"><%= c.instructor.name %></a>
                  <% end %>
                </td>
                <td>
                  <%= c.start_date %>
                </td>
                <td>
                  <%= c.semester %>
                </td>
                <td>
                  <%= c.weeks %>
                </td>
                <td>
                  <%= c.year %>
                </td>
                <td >
                  <% if current_user.id != 9 %>
                    <center>
                      <input type="checkbox" name="student[course_ids][]" value="<%= c.id  %>"  <%= 'checked' if current_user.courses.include?(c) %>>
                    </center>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br />
        <% if current_user.id == 9 %>
          <a class="pure-button" href="/courses/new">New Course</a>
        <% else %>
          <input type="submit" class="button-submit pure-button" value="Edit Registration" />
        <% end %>
      </form>
    </div>
  </div>
