<h1>Edit Course</h1>
<form action="/courses/<%= @course.slug %>" method="POST" class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="title">Title</label>
            <input name="course[title]" type="text"  value="<%= @course.title %>">
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-control-group">
            <label for="weeks">Weeks</label>
            <input name="course[weeks]" type="text" value="<%= @course.weeks %>">

        </div>

        <div class="pure-control-group">
            <label for="year">Year</label>
            <input name="course[year]" type="text" value="<%= @course.year %>">

        </div>

        <div class="pure-control-group">
            <label for="semester">Semester</label>
            <input name="course[semester]" type="text" value="<%= @course.semester %>">

        </div>

        <div class="pure-control-group">
            <label for="start_date">Start Date</label>
            <input name="course[start_date]" type="text" value="<%= @course.start_date %>">

        </div>

        <div class="pure-control-group">
            <label for="description">Description</label>
            <input name="course[description]" type="text" value="<%= @course.description %>">
            </input>
        </div>

        <div class="pure-control-group">
             <label for="instructor">Instructor</label>
                 <% Instructor.all.each do |i|  %>
                 <label> <%= i.name %></label>
                 <input type="radio" name="course[instructor_id]" value="<%= i.id %>" <%= 'checked' if @course.instructor_id == i.id %>>
             <% end %>
         </div>

         <div class="pure-control-group">
              <label for="students">Students</label>
                  <% Student.all.each do |s|  %>
                    <% if s.id != admin_id %>
                      <label> <%= s.name %></label>
                      <input type="checkbox" name="course[student_ids][]" value="<%= s.id %>" <%= 'checked' if @course.students.ids == s.id %>>
                    <% end %>
              <% end %>
          </div>

      <div class="pure-controls">
        <input type="submit" class="button-submit pure-button" value="Edit Course" />
      </div>
  </fieldset>
</form>
