<div id="wrapper">
  <div class="pure-menu custom-restricted-width">
      <span class="pure-menu-heading">Menu</span>

      <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
          <li class="pure-menu-item"><a href="/courses" class="pure-menu-link">All Courses</a></li>
          <li class="pure-menu-item"><a href="/instructors" class="pure-menu-link">All Instructors</a></li>
          <li class="pure-menu-item"><a href="/students" class="pure-menu-link">All Students</a></li>
          <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
      </ul>

  </div>

  <div id="main">
    <h2>Tite: <%= @course.title %></h2>
    <h3>Instructor: <% if !@course.instructor_id? %>
          <%= "Instructor Unassigned" %>
        <% else %>
          <a href="/instructors/<%= @course.inst_slug %>"><%= @course.instructor.name %></a></h3>
        <% end %>
    <h4>Weeks: <%= @course.weeks %></h4>
    <h4>Start Date: <%= @course.start_date %></h4>
    <h4>Year: <%= @course.year %></h4>
    <h4>Description: <%= @course.description %></h4>
    <br />
    <a class="pure-button" href="/courses/<%= @course.slug %>/edit">Edit Course</a>
    <a class="pure-button" href="/courses/new">New Course</a>

    </div>
  </div>
</div>
