<div id="table-wrapper">
  <h2>Tite: <%= @course.title %></h2>
  <h3>Instructor: <% if !@course.instructor_id? %>
        <%= "Instructor Unassigned" %>
      <% else %>
        <a href="/instructors/<%= @course.inst_slug %>"><%= @course.instructor.name %></a></h3>
      <% end %>
  <h4>Weeks: <%= @course.weeks %></h4>
  <h4>Start Date: <%= @course.start_date %></h4>
  <h4>Year: <%= @course.year %></h4>
  <h4>Description: <%= @course.description %></h4>
  <h4>Students:</h4>
  <ul>
      <% @course.students.each do |s| %>
      <li>
        <a href="/students/<%= s.slug %>"><%= s.name %></a>
      </li>
      <% end %>
  </ul>
  <br />
  <% if current_user.id == 9 %>
    <a class="pure-button" href="/courses/<%= @course.slug %>/edit">Edit Course</a>
    <a class="pure-button" href="/courses/new">New Course</a>
    <a class="pure-button" href="/courses/<%= @course.slug %>/delete">Delete Course</a>
  <% end %>
</div>
