<h1>Welcome to the School Registration App</h1>

<p>Hello, <%= @user.name %>
<h2></h2>

<% if @user.courses.empty? %>
  <p>
  You are curerntly not registered for any classes. Sign up for some below using the registration form.
  </p>
  <% else %>
  <h3>You are currently enrolled in:</h3>
  <table class="pure-table pure-table-bordered">
    <thdead>
      <tr>
        <th>Title</th>
        <th>Instructor</th>
        <th>Start Date</th>
        <th>Semester</th>
        <th>Weeks</th>
        <th>Year</th>
      </tr>
  </thdead>
  <tbody>
    <% @user.courses.each do |c| %>
    <tr>
      <td>
        <%= c.title %>
      </td>
      <td>
        <% if c.instructor_id == "" %>
          <%= puts "Instructor Unassigned" %>
        <% else %>
          <%= c.instructor %>
        <% end %>
      </td>
      <td>
        <%= c.start_date %>
      </td>
      <td>
        <%= c.semester %>
      </td>
      <td>
        <%= c.year %>
      </td>
      <td>
        <%= c.year %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<hr />
<a href="/courses">All Courses</a> - View or Sign up
<br />
<a href="/instructors">All Instructors</a>
<br />
<strong>if instructor</strong>
<br />
<a href="/students">All Students</a>
